.itemDetailContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(243, 146, 243);
  margin: 20px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.detailsButtonContainer {
  text-decoration: none;
}

.itemDetailImage {
  height: 200px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.detailsButton {
  border: 1px solid rgb(243, 146, 243);
  padding: 5px 25px;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  margin-top: 25px;
  background-color: white;
  display: block;
  margin: 25px auto 0 auto;
}

.detailsButton:hover {
  background-color: rgb(243, 146, 243);
  color: white;
  cursor: pointer;
}

.itemPrice {
  text-decoration: none;
  color: black;
}

.detailsImg {
  width: 200px;
  margin: 10px auto;
  display: block;
}

.detailsInfo {
  text-align: center;
  padding: 10px;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

.detailsDescription {
  padding-bottom: 15px;
  display: block;
}

.itemPrice {
  font-size: 1.2rem;
  background-color: rgb(75, 255, 75);
  padding: 5px 35px;
  border-radius: 5px;
  border: 1px solid rgb(75, 255, 75);
  font-weight: 600;
}

.stock {
  background-color: white;
  color: rgb(185, 183, 183);
  border: none;
  font-size: 0.9rem;
  margin-top: 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .itemDetailContainer {
    padding-left: 40px;
  }

  .itemDetailImage {
    width: 300px;
  }

  .detailsButton {
    margin: 25px auto 0 0;
  }

  .detailsDescription {
    text-align: left;
  }

  .detailsInfo span {
    width: 90px;
  }

  .detailsInfo span {
    width: auto;
  }

  .detailsCountButtonContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .itemDetailContainer {
    max-width: 1000px;
    margin: 50px auto;
  }

  .detailsInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
  }

  .detailsInfo {
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
}
