.formControl {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.shippingAddress {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
}

@media screen and (min-width: 768px) {
  .shippingAddress {
    grid-template-columns: 1fr 1fr;
  }
}
