.Navbar {
  background-color: rgb(243, 146, 243);
  width: 100%;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

.cartIcon {
  display: inline-block;
}

.cartIcon i {
  margin-right: 5px;
}

.cartIcon span {
  background-color: white;
  color: black;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
  width: 18px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
}

.Navbar .container {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbarTitle {
  text-decoration: none;
  color: black;
}

.Navbar h1:hover {
  cursor: pointer;
}

.Navbar nav a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
  padding-right: 7px;
  padding-left: 7px;
}

.Navbar nav a:hover {
  color: rgb(75, 255, 75);
}

.Navbar nav {
  display: flex;
}

@media screen and (min-width: 768px) {
  .Navbar nav a:last-child {
    font-size: 1.1rem;
  }

  .Navbar nav {
    justify-content: space-between;
  }

  .Navbar .container {
    max-width: 600px;
  }

  .Navbar .container nav {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .Navbar .container {
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
  }

  .Navbar .container nav {
    width: 500px;
  }

  .Navbar nav a {
    padding-left: 25px;
    font-size: 1rem;
    padding: 0;
  }
}
