body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
