.CountButton {
  margin: 20px auto;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(243, 146, 243);
  border-radius: 10px;
  padding: 20px 5px;
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.countTitle {
  display: block;
  color: black;
  background-color: white;
  border: none;
}

.CountButton .container {
  display: flex;
  justify-content: center;
}

.CountButton i {
  display: block;
}

.CountButton button {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid rgb(243, 146, 243);
  border-radius: 5px;
}

.CountButton button:first-child {
  margin-right: 20px;
}

.CountButton button:last-child {
  margin-left: 20px;
}

.CountButton #countNumber {
  background-color: white;
  padding: 5px 15px;
  border: 1px solid rgb(243, 146, 243);
  border-radius: 5px;
  color: black;
}

.CountButton #countNumber:hover {
  background-color: white;
  padding: 5px 15px;
  border: 1px solid rgb(243, 146, 243);
  border-radius: 5px;
  color: black;
  cursor: default;
}

.cartButton {
  font-family: "Cairo", sans-serif;
  font-family: "Gluten", cursive;
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 768px) {
  .CountButton {
    width: 200px;
    justify-content: left;
    margin: 30px auto 0 0;
  }

  .CountButton .container {
    width: 150px;
  }
}
